

<div class="p-4">
  <div class="space-x-6">
    <app-average></app-average>
  </div>
  <div class="space-x-6">
    <app-selected-list></app-selected-list>
  </div>

  <div class="flex space-x-6 mb-6">
    <div class="flex flex-col w-1/4">
      <label for="studentId" class="block font-semibold text-gray-700">Search by Student ID:</label>
      <input
        type="number"
        id="studentId"
        [(ngModel)]="searchStudentId"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        placeholder="Enter Student ID"
        (ngModelChange)="applyFilters()"
      />
    </div>
  
    <!-- Filter by Class -->
    <div class="flex flex-col w-1/4">
      <label for="studentClass" class="block font-semibold text-gray-700">Filter by Class:</label>
      <select
        id="studentClass"
        [(ngModel)]="selectedClass"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        (change)="applyFilters()"
      >
        <option value="">Select Class</option>
        <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
      </select>
    </div>
  
    <!-- Filter by Date of Birth -->
    <div class="flex flex-col w-1/4">
      <label for="dobRange" class="block font-semibold text-gray-700">Filter by DOB:</label>
      <div class="flex space-x-2">
        <input
          type="date"
          id="startDate"
          [(ngModel)]="startDate"
          class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
          (change)="applyFilters()"
        />
        <span class="self-center text-gray-700">-</span>
        <input
          type="date"
          id="endDate"
          [(ngModel)]="endDate"
          class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
          (change)="applyFilters()"
        />
      </div>
    </div>
  </div>
  <table class="min-w-full border-collapse border border-gray-300">
    <thead>
      <tr class="bg-gray-200">
        <th class="border border-gray-300 px-4 py-2">Id</th>
        <th class="border border-gray-300 px-4 py-2">Photo</th>
        <th class="border border-gray-300 px-4 py-2">First Name</th>
        <th class="border border-gray-300 px-4 py-2">Last Name</th>
        <th class="border border-gray-300 px-4 py-2">Class</th>
        <th class="border border-gray-300 px-4 py-2">Score</th>
        <th class="border border-gray-300 px-4 py-2">Status</th>
        <th class="border border-gray-300 px-4 py-2">Date of Birth</th>
        <th class="border border-gray-300 px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of paginatedStudents" class="hover:bg-gray-100">
        <td class="border border-gray-300 px-4 py-2">{{ student.studentId }}</td>
        <td>
          <img *ngIf="student.photoPath.length > 30; else placeholder" width="50px"  [src]="student.photoPath" alt="student photo" />
        <ng-template #placeholder>
          <img src="avatar.jpg" width="50px" alt="student photo" />
        </ng-template>

        <td class="border border-gray-300 px-4 py-2">{{ student.firstName }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ student.lastName }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ student.studentClass }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ student.score }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ student.status }}</td>
        <td class="border border-gray-300 px-4 py-2">{{ student.dob | date }}</td>
        <td class="border border-gray-300 px-4 py-2">
          <button (click)="viewStudent(student.studentId)" class="text-blue-500">View</button>
          <button (click)="onEditStudent(student.studentId)" class="text-green-500 mx-2">Edit</button>
          <button (click)="deleteStudent(student.studentId)" class="text-red-500">Delete</button>
          <button (click)="selectStudent(student.studentId, student.firstName + ' ' + student.lastName, student.score)" class="text-green-500">Select</button>
          <!-- <button (click)="addStudent()" class="text-green-500">Select</button> -->
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="flex justify-between items-center mt-4">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="bg-gray-500 text-white px-4 py-2 rounded">
      Previous
    </button>
    <p>Page {{ currentPage }} of {{ totalPages }}</p>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="bg-gray-500 text-white px-4 py-2 rounded">
      Next
    </button>
  </div>
</div>
